{% extends "main_template.html" %}  
{% load render_partial %}  
{% load humanize %}  

{% block title %}  
  چت بات صنعت پویا  
{% endblock title %}  

{% block content %}  
<!DOCTYPE html>  
<html>  
<head>  
    <title>Chat Room</title>  
</head>  
<body>  
    <h1>Welcome to the chat room: <span id="room-name">{{ shop }}</span></h1>  

    <div id="chat-log"></div>  
    <input id="chat-message-input" type="text" size="100">  
    <input id="chat-message-submit" type="button" value="Send">  

    <script>  
        const roomName = document.getElementById('room-name').textContent;  // اصلاح شده  
        const chatSocket = new WebSocket(  
            'ws://' + window.location.host + '/ws/chat/' + roomName + '/'  
        );  

        chatSocket.onmessage = function(e) {  
            const data = JSON.parse(e.data);  
            document.querySelector('#chat-log').innerHTML += (data.message + '<br>');  
        };  

        document.querySelector('#chat-message-submit').onclick = function(e) {  
            const messageInputDom = document.querySelector('#chat-message-input');  
            const message = messageInputDom.value;  
            chatSocket.send(JSON.stringify({  
                'message': message  
            }));  
            messageInputDom.value = '';  
        };  
    </script>  
</body>  
</html>  
{% endblock content %}