<section class="block_wrap bg-gray after_hiro pt-3 pb-0">
    <div class="container">
        <div class="title_row text-center title-row-tab">
            <nav class="nav-tabs">
                <ul class="tabs__items">
                    <li>
                        <h1>صنعت پویا : زنجیره ای ازصنایع  </h1>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-512 mb-lg-0">
                <div class="box text-center">
                    <a href="/consultant">
                        <div class="box-body">
                            <div class="box-image">
                                <img src="{{media_url}}images/content/Sana1.png" onmouseover="this.src='{{media_url}}images/content/Sana12.png';" onmouseout="this.src='{{media_url}}images/content/Sana1.png';" class="img-fluid lazyload badgeSana loaded" alt="مشاور" data-was-processed="true">
                            </div>
                            <h2>
                                مشاور
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-512 mb-lg-0">
                <div class="box text-center">
                    <a href="/contractor">
                        <div class="box-body">
                            <div class="box-image">
                                <img src="{{media_url}}images/content/Sana2.png" onmouseover="this.src='{{media_url}}images/content/Sana22.png';" onmouseout="this.src='{{media_url}}images/content/Sana2.png';" class="img-fluid lazyload badgeSana loaded" alt="پیمانکار" data-was-processed="true">
                            </div>
                            <h2>
                                پیمانکار
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-512 mb-lg-0">
                <div class="box text-center">
                    <a href="/producer">
                        <div class="box-body">
                            <div class="box-image">
                                <img src="{{media_url}}images/content/Sana3.png" onmouseover="this.src='{{media_url}}images/content/Sana32.png';" onmouseout="this.src='{{media_url}}images/content/Sana3.png';" class="img-fluid lazyload badgeSana loaded" alt="تولید کننده" data-was-processed="true">
                            </div>
                            <h2>
                                تولیدکننده
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-512 mb-lg-0">
                <div class="box text-center">
                    <a href="/goods">
                        <div class="box-body">
                            <div class="box-image">
                                <img src="{{media_url}}images/content/Sana4.png" onmouseover="this.src='{{media_url}}images/content/Sana42.png';" onmouseout="this.src='{{media_url}}images/content/Sana4.png';" class="img-fluid lazyload badgeSana loading_src" alt="تجهیزات و ماشین آلات" data-was-processed="true">
                            </div>
                            <h2>
                                تجهیزات و ماشین آلات
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-512 mb-lg-0">
                <div class="box text-center">
                    <a href="/material">
                        <div class="box-body">
                            <div class="box-image">
                                <img src="{{media_url}}images/content/Sana5.png" onmouseover="this.src='{{media_url}}images/content/Sana52.png';" onmouseout="this.src='{{media_url}}images/content/Sana5.png';" class="img-fluid lazyload badgeSana loaded" alt="مواد و محصولات" data-was-processed="true">
                            </div>
                            <h2>
                                مواد و محصولات
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>