		<!-- site__footer -->  
<footer class="site__footer  ">  
    <div class="site-footer  ">  
        <div class="site-footer__widgets">  
            <div class="nav-panel__nav-links nav-links  ">  
                <div class="row"> 	
					<ul class="nav-links__list">  
						<li class="foot   ">
							<a href="/specialties/expert_of_group/Consultant/" style="color: #000;" ><span> &nbsp;&nbsp; مشاور</span></a>
						</li>
						<li class="foot   ">
							<a href="/specialties/expert_of_group/Contractors/" style="color: #000;" ><span> &nbsp;&nbsp; پیمانکاران</span></a>
						</li>
						<li class="foot   ">
							<a href="/specialties/expert_of_group/services-repairs/" style="color: #000;" ><span> &nbsp;&nbsp; تولید وتامین کننده</span></a>
						</li>
						<li class="foot   ">
							<a href="/specialties/expert_of_group/producer/" style="color: #000;" ><span> &nbsp;&nbsp; خدمات و تعمیرات</span></a>
						</li>
						<li class="foot   ">
							<a href="/specialties/expert_of_group/Finance/" style="color: #000;" ><span> &nbsp;&nbsp;  مالی بازرگانی</span></a>
						</li>
						<li class="foot   ">
							<a href="/specialties/expert_of_group/advertisement/" style="color: #000;" ><span>  &nbsp;&nbsp;  آگهی استخدام</span></a>
						</li>
						
						<li class="foot   ">
							<a href="/specialties/expert_of_group/job_seeker/" style="color: #000;" ><span> &nbsp;&nbsp; جویای کار</span></a>
						</li>
						
						<li class="foot   ">
							<a href="/specialties/expert_of_group/real-estate/" style="color: #000;" ><span>  &nbsp;&nbsp;املاک صنعتی</span></a>
						</li>
						<li class="foot   ">
							<a href="/specialties/expert_of_group/Academy/" style="color: #000;" ><span>  &nbsp;&nbsp; آکادمی</span></a>
						</li>
						<li class="foot   ">
							<a href="{% url "main:shop" %}" style="color: red;" ><span>  &nbsp;&nbsp;   بازار</span></a>
						</li>
				
						<li class="foot   ">
							<a href="/blogs/blog/" style="color: #000;" ><span>  &nbsp;&nbsp;   بلاگ</span></a>
						</li>
					</ul>
				</div>
			</div>		
						<div class="row">
							<div class="col-12 col-md-6 col-lg-4">
								<div class="site-footer__widget footer-contacts">
									<h5 class="footer-contacts__title">تماس با ما</h5>

									<ul class="footer-contacts__contacts">
										<li><i class="footer-contacts__icon fas fa-globe-americas"></i>
											تهران</li>
										<li><i class="footer-contacts__icon fas fa-mobile-alt"></i>
											<span class="ltr_text">09354530305</span>
										</li>
										<li>

											<span class="footer-box-title"> ایمیل :</span>
											<span class="footer-box-item">info@sanatpoya.com</span>
					
										</li>
									</ul>
								</div>
							</div>
							<div class="col-6 col-md-3 col-lg-2">
								<div class="site-footer__widget footer-links">
									<h5 class="footer-links__title">اطلاعات</h5>
									<ul class="footer-links__list">
										<li class="footer-links__item">
											<a href="{% url "main:about_us" %}" class="footer-links__link">درباره ما</a>
										</li>
										<li class="footer-links__item">
											<a href="{% url "main:PostCreate" %}" class="footer-links__link">تماس با ما</a>
										</li>
										<li class="footer-links__item">
											<a href="{% url "main:regulations" %}" class="footer-links__link">قوانین و مقررات</a>
										</li>

									</ul>
								</div>
							</div>
							<div class="col-6 col-md-3 col-lg-2">
								<div class="site-footer__widget footer-links">
									<h5 class="footer-links__title">حساب کاربری</h5>
									<ul class="footer-links__list">
										<li class="footer-links__item">
											<a href="{% url "accounts:login" %}" class="footer-links__link">
												ورود
											</a>
										</li>
										<li class="footer-links__item">
											<a href="{% url "accounts:register" %}" class="footer-links__link">
												ثبت نام
											</a>
										</li>
										<li class="footer-links__item">
											<div>  
												<button class="btn btn-block btn-warning" type="button" aria-haspopup="true" aria-expanded="false">  
												  <div class="category-card__content">  
													<div class="category-card__name">  
													  <a href="/support/tickets/" style="font-size: 20px; color: blue; display: flex; align-items: center;">  
														<span class="icon-right" style="margin-right: 8px;">  
														  <i class="fas fa-comment-dots"></i>   
														</span>  
														ارسال تیکت 
													  </a>  
													</div>   
												  </div>  
												</button>  
											  </div>
											</li>
									</ul>
								</div>
							</div>
							<div class="col-12 col-md-12 col-lg-4">
								<div class="site-footer__widget footer-newsletter">
									<h5 class="footer-contacts__title">شبکه های اجتماعی </h5>
									<div class="footer-newsletter__text footer-newsletter__text--social" >
										 </div>
									<ul class="footer-newsletter__social-links">
										<li
											class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
											<a href="https://www.facebook.com/sanatpoya/" target="_blank"><i class="fab fa-facebook-f"></i></a>
										</li>
										<li
											class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
											<a href="https://t.me/sanatpoya" target="_blank"><i class="fab fa-twitter"></i></a>
										</li>
										<li
											class="footer-newsletter__social-link footer-newsletter__social-link--youtube">
											<a  href="https://www.youtube.com/c/sanatpoya" target="_blank"><i class="fab fa-youtube"></i></a>
										</li>
										<li
											class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
											<a href="https://www.instagram.com/sanatpoya/" target="_blank"><i class="fab fa-instagram"></i></a>
										</li>
										<li class="footer-newsletter__social-link footer-newsletter__social-link--rss">
											<a  href="https://www.aparat.com/sanatpoya" target="_blank"><i class="fas fa-aparat"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="site-footer__bottom">

						<div class="site-footer__copyright">
							کلیه حقوق و امتیازات این وبسایت متعلق است به  :
							<a href="http://sanatpoya.com" target="_blank" style="color: black;">صنعت پویا sanatpoya.com</a>
						</div>

					</div>
				</div>
		 
		</footer>
		<!-- site__footer / end -->