{% extends "main_template.html" %}
{% block title %}
مقررات و قوانین
{% endblock title %}
{% block content %}

 
 <div class="container">


 
	<a href="{% url "main:index" %}">بازگشت به صفحه اصلی  </a>   
	<h1>مقررات و قوانین استفاده از سایت صنعت پویا</h1>
 

 <p  >	
 

به سایت "صنعت پویا" خوش آمدید! این سایت با هدف معرفی متخصصین صنایع و فراهم کردن بستری برای فروش محصولات تولیدی آن‌ها ایجاد شده است.
 با استفاده از خدمات ما، شما به اطلاعات ارزشمند درباره متخصصین و محصولات مرتبط دسترسی پیدا خواهید کرد.
 این قوانین به‌منظور حفظ نظم و ایمنی در تعاملات کاربران و متخصصین وضع شده‌اند و رعایت آن‌ها الزامی است.

 

 هر شخص یا نهادی که به سایت "صنعت پویا" دسترسی پیدا می‌کند یا از خدمات آن بهره‌برداری می‌کند. 
 افرادی که در حوزه‌های مختلف صنعتی فعالیت دارند و در سایت معرفی شده‌اند.
کالاها و خدماتی که توسط متخصصین   های تولیدی از طریق صفحه فروشگاه به فروش می‌رسند.
 هرگونه اطلاعات، تصاویر، نظرات و محتوایی که کاربران در سایت بارگذاری می‌کنند.
شرایط استفاده

<h1>دسترسی به سایت:</h1>
 برای دسترسی به امکانات سایت، کاربران باید سن قانونی خود را داشته باشند و توانایی لازم برای پذیرش این مقررات را داشته باشند.
ثبت‌نام: در برخی موارد، کاربران باید برای انجام خرید یا ارسال محتوا عضو سایت شوند. اطلاعات ثبت‌نام باید دقیق و به‌روز باشد.
حقوق و مسئولیت‌های کاربران

<h1>استفاده مسئولانه: </h1>
کاربران موظف هستند از سایت به‌صورت قانونی و اخلاقی استفاده کنند. هرگونه سوءاستفاده، شامل اما نه محدود به، رفتارهای نامناسب یا سوءاستفاده از آدرس‌های الکترونیکی ممنوع است.
محتوای کاربر: کاربران باید از بارگذاری محتوای غیرقانونی، توهین‌آمیز یا مغرضانه خودداری کنند و به حقوق دیگران احترام بگذارند.
حریم خصوصی

ما به حریم خصوصی شما احترام می‌گذاریم. اطلاعات شخصی شما تنها برای ارائه خدمات بهتر جمع‌آوری شده و تحت هیچ شرایطی به شخص یا نهاد ثالثی منتقل نخواهد شد. برای جزئیات بیشتر به سیاست حریم خصوصی ما مراجعه کنید.

حق مالکیت فکری

تمامی محتوا و تصاویری که توسط سایت ارائه می‌شود، حق مالکیت فکری صنعت پویا و متخصصین مربوطه را دارد. هرگونه کپی یا استفاده غیرمجاز از این محتوا تخلف محسوب می‌شود.

محدودیت‌ها و ممنوعیت‌ها

<h1>
	استفاده از سایت برای موارد زیر ممنوع است:
</h1>
 
	1-
نشر یا توزیع محتوای غیرقانونی، کلاهبرداری، یا توهین‌آمیز
<hr>
2-
سوءاستفاده از خدمات سایت با هدف ایجاد مزاحمت برای سایر کاربران
<hr>
3-
تلاش برای نفوذ به سرورهای سایت یا دسترسی غیرمجاز به اطلاعات آن
تغییرات در مقررات.
<hr>
ما حق داریم در هر زمان این مقررات را تغییر دهیم. کاربران موظف هستند به‌صورت دوره‌ای این صفحه را مطالعه کنند تا از هرگونه تغییر آگاه شوند. تغییرات به محض انتشار در سایت قابل اجرا هستند.
<h1>ارتباط با ما:</h1>
<hr>

در صورت داشتن سوال یا نگرانی در مورد این مقررات، لطفاً با ما از طریق اطلاعات تماس زیر ارتباط برقرار کنید:

ایمیل: support@sanatepoya.com
تلفن:  02156808917
یا از طریق تماس باما نظرات و دیدگاه های خود را ارسال نمایید.
<h1>نتیجه‌گیری</h1>

از اینکه "صنعت پویا" را انتخاب کردید، سپاسگزاریم. ما امیدواریم که تجربه‌ای مثبت و مفید برای شما فراهم کنیم. با رعایت این قوانین و مقررات، به ایجاد فضایی امن و حرفه‌ای کمک خواهید کرد.
</p>
</div>
{% endblock content %} 
		  <!-- about_us / end -->