<div class="block block-products-carousel  container" data-layout="grid-5">
        <div class="container">
            {% include 'partials/realestate/root_group.html' with title='ارزان ترین محصولات' %}
            <div class="product-flexbox" style="">
            <div class="product-flexbox" style="">
                {% for product in products %}
                    {% include 'partials/realestate/product_box.html' with type=1 %}
                {% endfor %}
        </div>
   </div>
</div>
</div>
    