{% load render_partial %} 
<div class="product-tabs__pane" id="tab-reviews">
    <div class="reviews-view">
        <div class="reviews-view__list">
            <h3 class="reviews-view__header">دیدگاه های مشتریان</h3>
            <div class="reviews-list">
                <ol class="reviews-list__content">
                {% for comment in product.comments_product.all %}
                    {% if comment.is_active %}
                        {% if comment.comment_parent == None %}
                                <li class="reviews-list__item" style="display: flex; justify-content: space-between;">
                                    <div class="review">
                                        <div class="review__avatar">
                                            <img src="{{media_url}}images/avatars/avatar-1.jpg" alt="">
                                        </div>
                                        <div class="review__content">
                                            <div class="review__author"> 
                                                {{comment.commenting_user.name}} 
                                            </div>
                                            <div class="review__text">{{comment.comment_text}}
                                            </div>
                                        </div>                                   
                                           <div>
                                                {% if user.is_authenticated %}
                                                    <div>
                                                        <a class="btn btn-info" id='btn_{{comment.id}}' onclick="showCreateCommentForm({{product.id}},{{comment.id}},'{{product.slug}}');">
                                                            پاسخ </a>
                                                    </div>
                                                        <div id="comment_form_{{comment.id}}">

                                                        </div>
                                                {% endif %}
                                            </div>
                                    </div>
                                </li>
                                        {% for item in comment.comments_child.all %}
                                            {% if comment.is_active %}
                                                <li class="reviews-list__item" style="background-color: beige ; width: 95%; margin: 10px 5%;">
                                                    <div class="review">
                                                        <div class="review__avatar">
                                                            <img src="{{media_url}}images/avatars/avatar-4.jpg" alt="">
                                                        </div>
                                                        <div class="review__content">
                                                            <div class="review__author"> {{item.commenting_user.name}}</div> 
                                                            <div class="review__text">{{item.comment_text}} </div>
                                                            <div class="review__data">{{item.registerdate}} </div>
                                                    
                                                        </div>
                                                    </div>
                                                </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                        
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ol>
            </div>
        </div>
            {% if user.is_authenticated %}
                <h3 class="reviews-view__header">دیدگاه هاخود را بنویسید</h3>
                    <div class="row">
                        <div class="col-12 col-lg-9 col-xl-8">
                            <div class="form-row">
                                {% render_partial 'csf:create_comment' slug=product.slug %}
                            </div>
                        </div>
                        {% else %}
                            <h5>برای ثبت نظر خود باید
                                    <a href="{% url "accounts:login" %}?next=/products/{{product.slug}}/">ورود</a>
                                    یا
                                    <a href="{% url "accounts:register" %}?next=/products/{{product.slug}}/">ثبت نام</a>
                                    کنید
                            </h5>
                    </div>
            {% endif %}

    </div>
</div>  