<ul class="filter-categories__list">
    {% for group in expert_groups %}
    <li class="filter-categories__item filter-categories__item--parent">
        <svg class="filter-categories__arrow" width="6px" height="9px">
            <use xlink:href="images/sprite.svg#arrow-rounded-left-6x9"></use>
        </svg>
         <a href="{% url "specialties:expert_of_group" slug=group.slug %}">{{group.group_title }}</a>
        <div class="filter-categories__counter">{{group.expertises_of_group.all|length }}</div>
    </li>
    {% endfor %}
</ul>