{% load static %}


<!DOCTYPE html>
<html lang="fa">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		
		<title>
			{% block title %}
				zamani
			{% endblock title %}
		</title>
	<link rel="icon" type="image/png" href="{{media_url}}/images/favicon.png">
	<!-- css -->
	<link rel="stylesheet" href="{% static 'vendor/bootstrap-4.5.3/css/bootstrap.min.css' %} ">
	<link rel="stylesheet" href="{% static 'vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css' %} ">
	<link rel="stylesheet" href="{% static 'css/style.css' %} ">
	<link rel="stylesheet" href="{% static 'css/custom.css' %} ">
	
	<!-- js -->
	<script src="{% static 'vendor/jquery-3.3.1/jquery.min.js' %} "></script>
	<script src="{% static 'vendor/bootstrap-4.5.3/js/bootstrap.bundle.min.js' %} "></script>
	<script src="{% static 'vendor/owl-carousel-2.3.4/owl.carousel.min.js' %} "></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/myscript.js' %}"></script>
	
	<!-- font - fontawesome -->
	<link rel="stylesheet" href="{% static 'vendor/fontawesome-5.6.3/css/all.min.css' %} ">
</head>
<body  class="container fluid">
    	{% include "partials/header.html" %}  
        {% include "partials/messages.html" %} 
        <!-- site__body -->
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url "main:index" %}">خانه</a>
                            /
                        </li>
                        <li class="breadcrumb-item"><a href="{% url "accounts:userpanel" %}">داشبورد</a>
                            
                        </li>
                        
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>حساب کاربری</h1></div>
        </div>
    </div>
    <div class="block ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex">
                    <div class="account-nav flex-grow-1">
                        <h4 class="account-nav__title">منوی اصلی </h4>
                        <ul class="bg_profile">
                            <li class="account-nav__item account-nav__item--active"><a href="{% url "accounts:userpanel" %}">داشبورد</a></li>
                            <li class="account-nav__item"><a href="{% url "accounts:update-profile" %}">ویرایش پروفایل</a></li>
                            <li class="account-nav__item"><a href="{% url "accounts:show_user_payments" %}">سابقه پرداخت</a></li>
                            <li class="account-nav__item"><a href="{% url "accounts:change_pass" %}">تغییر رمز عبور</a></li>
                            <li class="account-nav__item"><a href="{% url "accounts:logout" %}">خروج</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    {% block content %}
                   
                  {% endblock content %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- site__body / end -->
 
</body>
</html> 


